sudo: required
services:
  - docker

before_install:
  - docker build -t dustindavignon/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run dustindavignon/react-test npm run test -- --watchAll=false

after_success:
  - docker build -t dustindavignon/multi-client ./client
  - docker build -t dustindavignon/multi-nginx ./nginx
  - docker build -t dustindavignon/multi-server ./server
  - docker build -t dustindavignon/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  - docker push dustindavignon/multi-client
  - docker push dustindavignon/multi-nginx
  - docker push dustindavignon/multi-server
  - docker push dustindavignon/multi-worker

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: multi-docker
  en: MultiDocker-env
  bucket_name: elasticbeanstalk-us-east-1-817531231272
  bucket_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY